In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
df=pd.read_csv('random_test.csv',sep=';')

In [6]:
df

,Unnamed: 0,panoid,Latitude,Longitude,date,angle,type
0,0,YbxYIdSXHpGbvFRT8seDIQ,9.779344,8.886092,0,0,undecided
1,1,YbxYIdSXHpGbvFRT8seDIQ,9.779344,8.886092,0,90,undecided
2,2,YbxYIdSXHpGbvFRT8seDIQ,9.779344,8.886092,0,180,undecided
3,3,YbxYIdSXHpGbvFRT8seDIQ,9.779344,8.886092,0,270,undecided
4,4,-8TPByAy3670kGCqymJNhA,6.662989,3.270012,2017-01,0,undecided
...,...,...,...,...,...,...,...
9999,9999,u4cGVaNugGq1sWYFwE4JbA,12.043103,8.727518,2021-10,270,undecided
10000,10000,0wx6_xfO6wgbVFR-pfJLWw,6.421183,5.604837,0,0,undecided
10001,10001,0wx6_xfO6wgbVFR-pfJLWw,6.421183,5.604837,0,90,undecided
10002,10002,0wx6_xfO6wgbVFR-pfJLWw,6.421183,5.604837,0,180,undecided
10003,10003,0wx6_xfO6wgbVFR-pfJLWw,6.421183,5.604837,0,270,undecided

In [5]:
df[df['date']!='0']

,Unnamed: 0,panoid,Latitude,Longitude,date,angle,type
4,4,-8TPByAy3670kGCqymJNhA,6.662989,3.270012,2017-01,0,undecided
5,5,-8TPByAy3670kGCqymJNhA,6.662989,3.270012,2017-01,90,undecided
6,6,-8TPByAy3670kGCqymJNhA,6.662989,3.270012,2017-01,180,undecided
7,7,-8TPByAy3670kGCqymJNhA,6.662989,3.270012,2017-01,270,undecided
56,56,kOesGmABtr7a1pu-5gi8-A,7.527838,6.289091,2021-12,0,undecided
...,...,...,...,...,...,...,...
9927,9927,AYXixZoqvign4pVDH5cp9g,11.989106,8.518073,2021-07,270,undecided
9996,9996,u4cGVaNugGq1sWYFwE4JbA,12.043103,8.727518,2021-10,0,undecided
9997,9997,u4cGVaNugGq1sWYFwE4JbA,12.043103,8.727518,2021-10,90,undecided
9998,9998,u4cGVaNugGq1sWYFwE4JbA,12.043103,8.727518,2021-10,180,undecided
9999,9999,u4cGVaNugGq1sWYFwE4JbA,12.043103,8.727518,2021-10,270,undecided

In [7]:
images= os.listdir('labelled_crop_nigeria')
for im in images:
    angle = int(im[22:-4])
    im=im[0:22]
    filt= (df['panoid'] == im) & (df['angle']==angle) 
    df.loc[filt,'type']='crop'

In [31]:
images= os.listdir('full_dataset/crop')
l_non_crop=[]
for im in images:
    angle = int(im[22:-4])
    im=im[0:22]
    if len(df[(df['panoid']== im) &(df['angle']==angle)])==0:
        l_non_crop.append([im,angle])
lost_non_crop=pd.DataFrame(l_non_crop,columns=['panoid','angle'])
lost_non_crop

                     panoid  angle
0    UkYd2vrw-JhJYri2SBls8g    180
1    F0j9trYfVm9j8pIblIBTQA    180
2    waV7-IvBsjaK-UzrmyQo-w    270
3    S_lEpjajmkuCnlZueN3LEQ    270
4    RYZBwu1-IhvTlmc3TxL6SQ    270
..                      ...    ...
180  lzPwe3ipQNtrwWbFqDH_6g     90
181  S_lEpjajmkuCnlZueN3LEQ      0
182  VtmCXEBPfhTPeznVyw64dg    180
183  3csRBd5p9XawI1RNZHcXOQ    180
184  6e_ZlrCDkugaAPB5kNEeZg     90

[185 rows x 2 columns]

In [52]:
lost_point=[]
for i in range (len(df[df['type']=='collected_point'])):
    im=df[df['type']=='collected_point'].iloc[i]['panoid']
    angle=df[df['type']=='collected_point'].iloc[i]['angle']
    lost_point.append([im,angle])
df_lost_point=pd.DataFrame(lost_point,columns=['panoid','angle'])

In [9]:
df.to_csv('full_nigeria.csv',sep=';',index=False)